
<div class="row">

  <nav  ng-hide="hideNav" class="{{navClass}}" id="sideNav">
    <div id="topNav">
      <div ng-click="menuClicked()" ng-hide="hideNav" class="glyphicon glyphicon-menu-hamburger" id="menuOpen"></div>
      <!-- <i class="material-icons" data-beloworigin="true" href='#' data-activates='dropdown1'id="filter">swap_vertical_circle</i> -->
      <!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a> -->
      <div>
        <i class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Sort</i>

        <ul id='dropdown1' class='dropdown-content'>
          <li>
            <a ng-click='getPlaylist("hot.json", sub)' href="#!">Hot</a>
          </li>
          <li>
            <a ng-click='getPlaylist("top.json?sort=top&t=day", sub)' href="#!">Top Day</a>
          </li>
          <li>
            <a ng-click='getPlaylist("top.json?sort=top&t=week", sub)' href="#!">Top Week</a>
          </li>
          <li>
            <a ng-click='getPlaylist("top.json?sort=top&t=month", sub)' href="#!">Top Month</a>
          </li>
          <li>
            <a ng-click='getPlaylist("top.json?sort=top&t=year", sub)' href="#!">Top Year</a>
          </li>
          <li>
            <a ng-click='getPlaylist("top.json?sort=top&t=all", sub)' href="#!">Top All</a>
          </li>
          <li>
            <a ng-click='getPlaylist("new.json", sub)' href="#!">New</a>
          </li>
        </ul>

        <i class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown2'>Sub</i>

        <ul id='dropdown2' class='dropdown-content'>
          <li>
            <a ng-click='getPlaylist(sortType, "/r/videos")' href="#!">Videos</a>
          </li>
          <li>
            <a ng-click='getPlaylist(sortType, "/r/listentothis")' href="#!">Listentothis</a>
          </li>
          <li>
            <a ng-click='getPlaylist(sortType, "/r/catvideos")' href="#!">Catvideos</a>
          </li>

          <li id="newSubs" ng-repeat="sub in subs">
            <a class="col s9 m9 l9" ng-click='getPlaylist(sortType, "/r/"+sub)' href="#!" ng-bind='sub'></a>
            <a class="col s3 m3 l3">
              <i ng-click='removeSub(sub)' class="tiny material-icons">delete</i>
            </a>
          </li>

          <li>
            <a href="#!"><input id="search" type="search" placeholder="New Sub" ng-model='newSub' ng-keypress='createSub($event, newSub)'></a>
          </li>

        </ul>
      </div>
    </div>

    <p class="col s12 m12 l12" id="hoverTitle">{{hoverTitle}}</p>
    <div class="row" id="thumbnailContainer">

      <div class="col s4.5 m4.5 l4.5" ng-repeat="thumbnail in thumbnails">
        <img class="hoverable" id=thumbnails src={{thumbnail.thumbnail_url}} ng-click="switchVideo(thumbnail)" ng-class="{'green': thumbnail.active}" ng-mouseover="setHoverTitle(thumbnail.title)" ng-mouseleave="removeHoverTitle()">
      </div>

    </div>

  </nav>

  <div id="playerContainer" class="{{playerClass}}">

    <div id="stuffToHide" class="row">

      <div id="playerHeader" class="col s12 m12 l12">

        <div id="hamburger" class="col s3 m3 l1">
          <div>

            <div ng-click="menuClicked()" ng-show="hideNav" class="glyphicon glyphicon-menu-hamburger" id="menu"></div>

          </div>

        </div>

        <div class="col s12 m12 l12">

          <h3 id="vidiot" class="center-align">Vidiot.</h3>

        </div>
      </div>
    </div>
    <div id="playerRow" class="row">
      <div class="{{embedClass}}">

        <div class="center-align">

          <div class="video-container">

            <div ng-if="!nowPlaying.video" class="loader">Loading...</div>
            <div ng-bind-html="trustHtml(nowPlaying.video)"></div>

          </div>
        </div>
      </div>
    </div>

    <div id="stuffToHide2" class="center-align">

      <!-- <span ng-click="playPause()" ng-show="!play" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
      <span ng-click="playPause()" ng-show="play" class="glyphicon glyphicon-play" aria-hidden="true"></span> -->
      <!-- <span id="nowPlayingTitle">{{nowPlaying.title}}</span> -->

      <span ng-click="navigate('back', nowPlaying.index)"class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      <span ng-click="navigate('forward', nowPlaying.index)" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
  </div>
</div>

<script type='text/javascript'>
  var timeoutID;
  var el = document.getElementById("playerContainer");
  var le = window;
  var elem = document.body;





  function setup() {
    el.addEventListener("mousemove", resetTimer, false);
    el.addEventListener("mousedown", resetTimer, false);
    el.addEventListener("keypress", resetTimer, false);
    el.addEventListener("DOMMouseScroll", resetTimer, false);
    el.addEventListener("mousewheel", resetTimer, false);
    el.addEventListener("touchmove", resetTimer, false);
    el.addEventListener("MSPointerMove", resetTimer, false);
    le.addEventListener("touchstart", resetTimer, false);
    le.addEventListener("touchmove", resetTimer, false);
    le.addEventListener("touchend", resetTimer, false);
    le.addEventListener("touchleave", resetTimer, false);
    le.addEventListener("touchcancel", resetTimer, false);

    startTimer();
  }

  setup();

  function startTimer() {
    // wait 2 seconds before calling goInactive
    timeoutID = window.setTimeout(goInactive, 3000);
  }

  function resetTimer(e) {
    window.clearTimeout(timeoutID);

    goActive();
  }

// var fullscreen = false;
//
//     window.onkeydown = function(e) {
//       fullscreen = !fullscreen;
//       if (e.which == 70 && fullscreen){
//         console.log("you pushed 'f'")
//         var docElement, request;
//
//         var docElement = document.documentElement;
//         var request = docElement.requestFullScreen || docElement.webkitRequestFullScreen || docElement.mozRequestFullScreen || docElement.msRequestFullScreen;
//
//         if(typeof request!="undefined" && request){
//             request.call(docElement);
//         }
//
//
//       } else if (e.which == 70 && !fullscreen){
//         var docElement, request;
//
//         docElement = document;
//         request = docElement.cancelFullScreen|| docElement.webkitCancelFullScreen || docElement.mozCancelFullScreen || docElement.msCancelFullScreen || docElement.exitFullscreen;
//         if(typeof request!="undefined" && request){
//             request.call(docElement);
//         }
//
//       }
//   }
//





  function goInactive() {
    $('#stuffToHide').addClass("inactive")
    $('#stuffToHide2').addClass("inactive")

    // do something
  }

  function goActive() {
    $('#stuffToHide').removeClass("inactive")
    $('#stuffToHide2').removeClass("inactive")
    // do something

    startTimer();
  }

  $('.dropdown-button').dropdown({
    inDuration: 300, outDuration: 225, constrain_width: false, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: false, // Displays dropdown below the button
    alignment: 'left' // Displays dropdown with edge aligned to the left of button
  });
</script>
