<div class="row">

  <nav ng-hide="hideNav" class="{{navClass}}" id="sideNav">

    <div ng-click="menuClicked()" ng-hide="hideNav" class="glyphicon glyphicon-menu-hamburger" id="menuOpen"></div>
    <!-- <i class="material-icons" data-beloworigin="true" href='#' data-activates='dropdown1'id="filter">swap_vertical_circle</i> -->
    <!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a> -->
    <div>
    <i class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Sort</i>

    <ul id='dropdown1' class='dropdown-content'>
      <li><a ng-click='getPlaylist("hot.json", sub)'href="#!">Hot</a></li>
      <li><a ng-click='getPlaylist("top.json?sort=top&t=day", sub)'href="#!">Top Day</a></li>
      <li><a ng-click='getPlaylist("top.json?sort=top&t=week", sub)'href="#!">Top Week</a></li>
      <li><a ng-click='getPlaylist("top.json?sort=top&t=month", sub)'href="#!">Top Month</a></li>
      <li><a ng-click='getPlaylist("top.json?sort=top&t=year", sub)'href="#!">Top Year</a></li>
      <li><a ng-click='getPlaylist("top.json?sort=top&t=all", sub)'href="#!">Top All</a></li>
      <li><a ng-click='getPlaylist("new.json", sub)'href="#!">New</a></li>
    </ul>

    <i class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown2'>Subreddit</i>

    <ul id='dropdown2' class='dropdown-content'>
      <li><a ng-click='getPlaylist(sortType, "/r/videos")'href="#!">Videos</a></li>
      <li><a ng-click='getPlaylist(sortType, "/r/foodhacks")'href="#!">Foodhacks</a></li>
      <li><a ng-click='getPlaylist(sortType, "/r/standupcomedy")'href="#!">Standupcomedy</a></li>
    </ul>
    </div>


    <div class="row" id="thumbnailContainer">

      <div class="col s4.5 m4.5 l4.5" ng-repeat="thumbnail in thumbnails">
      <img id=thumbnails src={{thumbnail.thumbnail_url}} ng-click="switchVideo(thumbnail)">
      </div>

    </div>


  </nav>

  <div class="{{playerClass}}">
    <div class="col s3 m3 l1">

      <div ng-click="menuClicked()" ng-show="hideNav" class="glyphicon glyphicon-menu-hamburger" id="menu"></div>

    </div>

    <div class="col s9 m9 l11">

      <h1 class="center-align">Vidiot.</h1>

    <div class="center-align">

    <div class="video-container">

      <div ng-bind-html="trustHtml(nowPlaying)"></div>
      <div ng-if="!nowPlaying" class="loader">Loading...</div>

    </div>
    </div>
  </div>
</div>
</div>

<script type='text/javascript'>
$('.dropdown-button').dropdown({
  inDuration: 300,
  outDuration: 225,
  constrain_width: false, // Does not change width of dropdown to that of the activator
  hover: true, // Activate on hover
  gutter: 0, // Spacing from edge
  belowOrigin: false, // Displays dropdown below the button
  alignment: 'left' // Displays dropdown with edge aligned to the left of button
}
);

</script>
