body {
  background-color: black; }

#menu {
  margin-top: 20px; }

#menuOpen {
  margin-top: 20px;
  margin-left: 3%;
  float: right; }

#sideNav {
  background-color: gray;
  height: 100vh; }

.glyphicon-menu-hamburger::before {
  color: white;
  font-size: 40px; }

nav {
  background-color: gray; }

#filter {
  float: left; }
